<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestNg Sample test suite" parallel="tests"
	thread-count="3">

	<listeners>
		<listener class-name="utils.Listners" />
	</listeners>

	<!-- chrome Test -->
	<test name="Chrome">
		<classes>
			<class name="nadeem.chrome" />
		</classes>
	</test>

	<!-- chromeII Test -->
	<test name="ChromeII">
		<classes>
			<class name="nadeem.chromeII" />
		</classes>
	</test>

	<!-- edge Test -->
	<test name="Edge">
		<classes>
			<class name="nadeem.edge" />
		</classes>
	</test>

</suite>