<?xml version="1.0" encoding="UTF-8"?>

<suite name="MoTradingAutomationSuite" parallel="tests"
	thread-count="2">

	<listeners>
		<listener class-name="utils.Listners" />
	</listeners>

	<!-- Android Local Test -->
	<test name="AndroidTest">
		<classes>
			<class name="nadeem.android" />
		</classes>
	</test>

	<!-- BrowserStack iOS Test -->
	<test name="BrowserStackIOSTest">
		<classes>
			<class name="nadeem.ios" />
		</classes>
	</test>

</suite>